<%if @comment.errors.any?%>
  <div class="alert alert-danger w-50">
    <h3 class="ml-3 "><%= @comment.errors.count%>件のエラーが発生しました!</h3>
    <hr>
    <% @comment.errors.full_messages.each do |message|%>
      <p class="ml-5"><%= message %></p>
    <%end%>
  </div>
<%end%>

<div class="container">
  <div class="ml-2 main-title">
    <h2 class="pl-2"><strong>投稿一覧</strong></h2>
  </div>
  <div>
    <%= form_with url: comments_path, method: :get  do |f|%>
      <%= f.select :keyword, options_for_select({'投稿が新しい順'=>'new', '投稿が古い順'=>'old', 
          'いいねが多い順'=>'favorites', 'いいねが少ない順'=>'disfavorites', '閲覧数が多い順'=>'impressionist', '閲覧数が少ない順'=>'disimpressionist'})%>
      <%= f.submit '検索'%>
    <%end%>
  </div>
<!--投稿一覧-->
  <div id="comment-index" class="col-md-12 mx-auto">
    <%= render 'comments/list', comments: @comments %>
  </div>
  <%= paginate @comments %>
<!--新規投稿-->
  <div class="ml-3 main-title">
    <h2 class="pl-2"><strong>新規投稿</strong></h2>
  </div>
  <%= render 'comments/new', comment: @comment %>
</div>