<%if @comment.errors.any?%>
  <div class="alert alert-danger w-50">
    <h3 class="ml-3 "><%= @comment.errors.count%>件のエラーが発生しました!</h3>
    <hr>
    <% @comment.errors.full_messages.each do |message|%>
      <p class="ml-5"><%= message %></p>
    <%end%>
  </div>
<%end%>

<div class="container">
  <div class="ml-2 main-title">
    <h2 class="pl-2"><strong>投稿一覧</strong></h2>
  </div>
<!--投稿一覧-->
  <%= render 'comments/list', comments:@comments %>
  <%= paginate @comments %>
<!--新規投稿-->
  <div class="ml-3 main-title">
    <h2 class="pl-2"><strong>新規投稿</strong></h2>
  </div>
  <%= render 'comments/new', comment:@comment %>
</div>