<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
      <div class="card shadow show-title">
        <%= attachment_image_tag @comment, :image, :fill,500,500, format: 'jpeg',
        fallback: 'noimage.jpeg', class:'card-img-top'%>
        <div class="card-body">
          <%= link_to user_path(@comment.user) do%>
            <%= attachment_image_tag @comment.user, :profile_image, :fill,70,70, format: 'jpeg', fallback: 'no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpeg', class:'img-thumbnail rounded-circle'%>
          <% end %>
          <h5 class="card-title font-weight-bold pt-3">タイトル: <%= @comment.title%></h5>
          <p class="card-text">本文: <%= @comment.body %></p>
        </div>
        <%= link_to '戻る', comments_path, class:'btn btn-primary' %>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
      <h3 class="show-title pl-1"><strong>コメント一覧</strong></h3>
      <table class="table table-hover shadow-sm">
        <thead>
          <tr>
            <th></th>
            <th>本文</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @post_comments.each do |post_comment|%>
          <tr>
            <td>
              <%= link_to user_path(post_comment.user.id) do%>
                <%= attachment_image_tag post_comment.user, :profile_image, :fill,40,40, format: 'jpeg',
                fallback: 'no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpeg', size:'45x45', class:'rounded-circle'%>
              <% end %>
            </td>
            <td class="pt-4"><%= post_comment.post_comment%></td>
            <%if post_comment.user.id == current_user.id%>
              <td><%= link_to '削除', comment_post_comment_path(@comment.id, post_comment.id), method: :delete, class:'btn btn-danger' %></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @post_comments %>
      <%= form_with(model:[@comment, @post_comment],local:true) do |f| %>
        <div class="form_group">
          <label id="post_comment">コメント</label>
          <%= f.text_area :post_comment, class:'form-control', id:'post_comment' %>
        </div>
        <div class="mt-2">
          <%= f.submit '投稿', class:'btn btn-info mb-3'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
