<% visitor = notification.visitor %>
<% visited = notification.visited %>
<tr>
  <td>
    <span><%= link_to visitor.name, user_path(visitor), class:'text-success font-weight-bold' %>さんが</span>

    <% if notification.action == 'follow'%>
      <p class="d-inline-block">あなたをフォローしました！</p>
    <% elsif notification.action == 'favorite'%>
      <p class="d-inline-block"><%= link_to 'あなたの投稿', comment_path(notification.comment.id), class:'text-success font-weight-bold' %>にいいねしました！</p>
    <% elsif notification.action == 'post_comment'%>
      <% if notification.comment.user.id == visited.id %>
        <span><%= link_to 'あなたの投稿', comment_path(notification.comment.id), class:'text-success font-weight-bold' %>にコメントしました！</span>
      <% else %>
        <span><%= link_to notification.comment.user.name, user_path(notification.comment.user.id), class:'text-success font-weight-bold' %>さんの投稿にコメントしました！</span>
      <% end %>
    <% end %>
    <p><%= PostComment.find_by(id: notification.post_comment_id)&.post_comment %></p>
    <p class="float-right"><%= time_ago_in_words(notification.created_at).upcase %>前</p>
  </td>
</tr>