<div class="container">
  <div class="row">
    <div class="col-md-5 mt-5 py-5 pl-5 h-1 shadow edit-title">
      <h2 class="font-italic"><strong>ユーザー詳細ページ</strong></h2>
      <%= attachment_image_tag @user, :profile_image, :fill,100,100, format: 'jpeg',
      fallback: 'no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpeg', size:'100x100', class:'img-thumbnail rounded-circle'%>
      <p class="font-weight-bold ml-3"><%= @user.name%></p>
      <p class="font-weight-light">登録日時: <%= @user.created_at.to_s(:datetime) %></p>
      <p class="font-weight-light">更新日時: <%= @user.updated_at.to_s(:datetime) %></p>
      <p><%= link_to 'ユーザー編集', edit_user_path(@user.id), class:'btn btn-light'%></p>
      <% unless current_user == @user%>
        <% if current_user.following?(@user) %>
          <p><%= link_to 'フォロー解除', user_relationship_path(@user.id), method: :delete, class:'btn btn-primary' %></p>
        <% else %>
          <p><%= link_to 'フォローする', user_relationships_path(@user.id), method: :post, class:'btn btn-outline-primary' %></p>
        <% end %>
      <% end %>
      <p><%= link_to '戻る', comments_path, class:'btn btn-primary' %></p>
    </div>

    <!--いいね・投稿一覧-->
    <div class="col-md-7">
      <h2 class="edit-title pl-1"><strong>いいね一覧</strong></h2>
      <%= render 'users/favorite', favorites: @favorites %>
      <h2 class="edit-title pl-1"><strong>投稿一覧</strong></h2>
      <%= render 'users/list', comments: @comments%>
      <%= paginate @comments %>
    </div>
  </div>
</div>