<div class="container">
  <h2 class="follow-title edit-title"><strong>検索結果 '<%= content %>'</strong></h2>
  <div class="shadow-sm">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>投稿名</th>
          <th>投稿日時</th>
          <th>更新日時</th>
          <th colspan = "3"></th>
        </tr>
      </thead>
      <tbody>
        <% comment_record.each do |record|%>
          <tr>
            <td>
              <%= link_to comment_path(record.id) do %>
                <%= attachment_image_tag record, :image, :fill,65,65, format: 'jpeg',
                fallback: 'no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6'%>
              <% end %>
            </td>
            <td>
              <%= link_to comment_path(record.id) do %>
                <%= record.title%>
              <% end %>
            </td>
            <td><%= record.created_at.to_s(:datetime)%></td>
            <td><%= record.updated_at.to_s(:datetime)%></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to '戻る', comments_path, class:'btn btn-primary mb-4' %>
</div>