<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <%= link_to root_path do%>
        <h1 class="navbar-brand text-light mt-1">ホームページタイトル</h1>
      <% end %>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <%= link_to user_path(current_user.id) do%>
            <%= attachment_image_tag current_user, :profile_image, :fill,40,40, format: 'jpeg', fallback: 'no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpeg', class:'rounded-circle'%>
          <% end %>
          
          <%= link_to destroy_user_session_path, method: :delete do%>
            <li class="btn btn-dark mt-1 fas fa-sign-out-alt">ログアウト</li>
          <% end %>
        <% else %>
          <%= link_to new_user_registration_path do%>
            <li class="btn btn-primary fas fa-user-plus p-3">新規登録</li>
          <% end %>
          <%= link_to new_user_session_path do%>
            <li class="btn btn-success fas fa-sign-in-alt ml-3 p-3">ログイン</li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>