<!DOCTYPE html>
<html>
  <head>
    <title>Trip Photos Collection</title>
    <%= favicon_link_tag('icons8-.png') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <%= render 'layouts/header'%>
    </header>
    <main>
       <p id="notice" class="text-success font-weight-bold mt-2"><%= notice %></p>
      <%= yield %>
    </main>
    <footer class="lesson-footer">
      <%= render 'layouts/footer'%>
    </footer>
  </body>
</html>
